@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-color: lightgray;
}

li, a, button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff4e0;
    text-decoration: none;
}

body {
    background-color: #fff4e0;
    font-family: "Open Sans", Arial, sans-serif;
  }

header {
    display: flex;
    justify-content: space-between;
    background-color: #79212d;
    width: 100%;
    color: #fff4e0;
    align-items: center;
    padding: 5px 2%;
}

.img-cropper {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: solid 2px #fff4e0;    
    display: inline-block;
}

.img-cropper-large  { 
    width: 85px;
    height: 85px;
}

.img-cropper-med  { 
    width: 65px;
    height: 65px;
}

.img-cropper-small  { 
    width: 55px;
    height: 55px;
}

.profile-thumb {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

.logo {
    cursor: pointer;
    height: auto;
    max-width: 35%;
}


.nav-links {
    list-style: none;
    padding-top: 50px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;

}

.nav-links li a:hover {
    transition: all 0.3s ease 0s;
    color: #ffca21;
    
}

.user-box {
    display: inline-block;
    
}
  


h2 {
color: #fff4e0;
font-size: 1em;
}

p {
font-size: .875em;
}

.main { 
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.main .wrapper {
    max-width: 800px;
}

.submit-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border: solid 1px;
    border-color: rgba(121, 33, 45, .2);
    margin-bottom: 35px;
}

.submit-box .submit-form {
    width: 80%;
    padding: 0 20px 0 20px;
    
}

.submit-box form {
    width: auto;
}

.submit-box .submit-form textarea{
    border-color: lightgray;
    border-radius:8px;
    resize:vertical;
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 5px;
    width: 100%;
}

.submit-box .submit-form textarea:focus{
    outline: lightgray;

}

.submit-box .attach-pic {
    border-radius: 4px;
    border-style: solid;
    background-color: white;
}


.main .post {
    background-color: white;
    /* padding: 20px; */
    border: solid 1px;
    /* border-radius: 8px; */
    border-color: rgba(121, 33, 45, .2)
}

.post .post-author {
    display: flex;
    padding: 20px 0px 0px 20px;
    width: 100%;
}

.post .post-author img{
    margin-right:20px;
    display: inline-block;
}

.post .post-slug {
    margin-left: 20px;
    margin-top: 15px;
}

.post .post-slug h1 {
    color: #79212d;
    font-weight: bold;
    font-size: 1.2em;
}

.post .datetime {
    font-size: .875em;
    color: darkgrey;
}

.post .post-body {
    margin-left: 125px;
    font-size: 1em;
    padding: 0px 20px 20px 0px;
}

.post-body img {
    padding:20px;
}

.post .comment {
    padding: 15px;
    
    border-top: solid 1px;
    border-color: rgba(121, 33, 45, .2)
}

.post .comment-author {
    
    display: flex;
    width: 100%;
    padding-left:20px;
}

.post .comment-body {
    margin-left: 20px;
    margin-top: 5px;
    font-size: .875em;
}

.post .comment-body h1 {
    color: #79212d;
    font-weight: bold;
    font-size: 1em;
    padding-bottom:5px;
}




