@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
    background: #fff4e0;
}
.primary-bg{
    background: #78232d;
    color: #fff;
}
.primary-color{
    color: #78232d !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}
.img-round{
    border-radius: 50%;
}
.comment,.post-content{
    font-size: 14px;
}
.comment{
    margin-bottom: 0;
}
.social-link{
    height: 30px;
    width: 30px;
    display: inline-block;
    line-height: 1;
    text-align: center;
}
.dlt-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}
.dropdown-menu{
    min-width: 100px;
    padding: 5px;
}
